
.animated{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  transform: translateZ(0);
}

.center-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.files-app{
  width: 100%;
  height: ~'calc(100% - 48px)';
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.opacity{
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  display: none;
}

.sidebar{
  position: absolute;
  z-index: 3;
  width: ~'calc(100% - 52px)';
  height: 100%;
  background-color: white;
  transform: translate3d(-100%,0,0);
}

.sidebar .title-container{
  width: 100%;
  height: 88px;
}

.sidebar .title-container div{
  font-family: Lato;
  font-size: 21px;
  font-weight: bold;
  color: #545f65;
  margin-left: 19px;
}

.sidebar .sidebar-element{
  width: 100%;
  height: 56px;
}

.sidebar .sidebar-element.active{
  background-color: #60b25e;
}

.sidebar .sidebar-element.active .section-name-container div{
  color: white;
}

.sidebar .logo{
  float: left;
  width: 74px;
  height: 100%;
}

.sidebar .section-name-container{
  height: 100%;
  float: left;
}

.sidebar .section-name-container div{
  font-family: Lato;
  font-size: 17px;
  color: #545f65;
}

.sidebar .sidebar-element:after{
  clear: both;
  content: "";
  display: block;
  width: ~'calc(100% - 74px)';
  height: 1px;
  float: right;
  background: #e5e9ea;
}

.files-header{
  width: ~'calc(100% - 36px)';
  padding: 0 18px;
  height: 56px;
  background-color: #60b25e;
  border-bottom: 2px solid #56a054;
}

.files-header .hamburger{
  width: 18px;
  height: 12px;
  float: left;
  background-image: url('https://static.inevio.com/script/filesformobile/static/hamburguer.png');
  margin-top: 2px;
}

.files-header .folder-name-container{
  float: left;
  width: ~'calc(100% - 36px)';
  text-align: center;
  margin-top: 2px;
}

.files-header .folder-name-container span{
  font-family: Lato;
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  display: inline-block;
}

.files-header .more{
  width: 3px;
  height: 17px;
  margin-left: 15px;
  margin-top: 2px;
  background-size: 6px 17px;
  background-position: -3px 0px;
  background-image: url('https://static.inevio.com/script/filesformobile/static/more.png');
  display: inline-block;
  float: left;
  background-repeat: no-repeat;
}

.files-container{
  width: 100%;
  height: ~'calc(100% - 58px)';
  background-color: white;
}

.file{
  width: 100%;
  height: 71px;
}

.file .icon{
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}

.file .icon img{
  max-width: 32px;
  max-height: 32px;
  vertical-align: middle;
}

.file-info{
  display: inline-block;
  float: left;
  height: 100%;
  width: ~'calc(100% - 112px)';
}

.file-info .file-name{
  font-size: 17px;
  font-family: Lato;
  color: #545f65;
  margin-top: 15px;
  margin-bottom: 11px;
}

.file-info .file-modified{
  font-size: 13px;
  font-family: Lato;
  color: #889399;
}

.file .more{
  width: 23px;
  height: 23px;
  background-size: 23px 23px;
  background-image: url('https://static.inevio.com/script/filesformobile/static/moreinfo.png');
  float: right;
  margin: 0 8px 0 8px;
}

.file:after{
  clear: both;
  content: "";
  display: block;
  width: ~'calc(100% - 72px)';
  height: 1px;
  float: right;
  background: #e5e9ea;
}

.file-options{
  width: 100%;
  height: 458px;
  background-color: white;
  position: absolute;
  bottom: 0;
  transform: translate3d(0,100%,0);
  z-index: 3;
}

.file-options .options-header{
  width: 100%;
  height: 64px;
  display: inline-block;
}

.file-options .options-header .options-logo{
  width: 32px;
  height: 32px;
  margin: 16px 24px 16px 20px;
  float: left;
}

.file-options .file-title{
  float: left;
  font-family: Lato;
  font-size: 17px;
  color: #545f65;
}

.file-options .options-header .options-more{
  float: right;
  width: 23px;
  height: 23px;
  background-image: url('https://static.inevio.com/script/filesformobile/static/moreinfo.png');
  float: right;
  margin: 0 18px 0 8px;
}

.file-options .option-title{
  font-size: 13px;
  font-weight: bold;
  font-family: Lato;
  color: #889399;
  margin: 15px 20px;
}

.file-options .options-header:after{
  clear: both;
  content: "";
  display: block;
  width: ~'calc(100% - 16px)';
  height: 1px;
  margin: 0 auto;
  background: #e5e9ea;
}

.footer{
  width: 100%;
  height: 48px;
  background-color: black;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.footer-content{
  width: ~'calc(100% - 70px)';
  height: 34px;
  margin: 0px auto;
}

.footer-content .back{
  width: 24px;
  height: 20px;
  background-size: 24px 20px;
  background-image: url('https://static.inevio.com/script/dashboardmobile/static/back.png');
  float: left;
}

.footer-content .inevio-logo-container{
  width: ~'calc(100% - 48px)';
  height: 34px;
  text-align: center;
  float: left;
}

.footer-content .inevio-logo{
  width: 30px;
  height: 34px;
  background-size: 30px 34px;
  background-image: url('https://static.inevio.com/script/dashboardmobile/static/gema.png');
  margin-left: auto;
  margin-right: auto;
}

.footer-content .multitask{
  width: 22px;
  height: 20px;
  margin-left: 2px;
  background-size: 22px 20px;
  background-image: url('https://static.inevio.com/script/dashboardmobile/static/multitask.png');
  float: left;
}

@media all and (max-width: 359px) {

  .footer-content{
    width: ~'calc(100% - 100px)';
  }

}
